.cell {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    border: 0.05rem solid #918b7d;
    border-radius: 5px;
    color: #1d1b17;
    transition: background-color 0.5s;
    background-color: #1d1b17;
}

.cell:hover{
    border: 0.05rem solid #1d1b17;
    background-color: #dad3c1;
    transition: ease-out;
}

.is-revealed {
    background-color: white;
}

.is-revealed:hover{
    border: 0 solid white;
    background-color: white;
}

.is-mine {
    color: red;
    background-color: darkred;
}
.is-mine:hover {
    background-color: darkred;
    border-color: #1d1b17;
}