* {
    background: #4A5B63;
    color: #ECEAED;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: white;
    white-space: nowrap;
}

.option-button {
    border-color: #ECEAED;
    border-style: solid;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
}
.option-button:hover{
    color: white;
    box-shadow: 0 5px 15px #ECEAED;
}

.game-end-message{
    color: #A6c9e7;
    font-weight: 900;
    font-size: 20px;
}

.utils{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.board-options{
    display: flex;
    flex-direction: column;
    border: 2px solid #ECEAED;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

