* {
    background: #4A5B63;
    color: #ECEAED;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: white;
    white-space: nowrap;
}

.option-button {
    border-color: white;
    border-radius: 5px;
}

.game-end-message{
    color: #A6c9e7;
    font-weight: 900;
    font-size: 20px;
}