* {
    background: #dad3c1;
    color: #1d1b17;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: #1d1b17;
    white-space: nowrap;
}

.option-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 1rem;
    margin: 0.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #1d1b17;
    backface-visibility: hidden;
    border: 0.1rem solid transparent;
    border-radius: 3rem;
    border-color: #1d1b17;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.option-button:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.italic{
    font-style: italic;
}

.game-end-message {
    color: #525f61;
    font-weight: 900;
    font-size: 20px;
}

.utils {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.board-options {
    display: flex;
    flex-direction: column;
    border: 2px solid #1d1b17;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

